<body class="bg-primary">
<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark p-md-3 bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.svg" class="mt-2" width="100" alt="" />
      </a>
      <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/events">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/about">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="#">¿Como usar Meeting Point?</a>
              </li>
              {{#if isAuthenticated}}
                  <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/logout">Cerrar sesión</a>
              </li>        
              {{else}}
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/login">Iniciar Sesión</a>
              </li>
              {{/if}}
             <li class="nav-item">
                <a href="/my-event"><button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi
                    evento</button></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
  <main class="mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-left">
            <h1 class="not-found">404</h1>
            <h3>Parece que te has perdido</h3>
            <div class="text-center mt-4 mb-5"> <a href="/" class="btn bg-secondary  send px-3">Volver al inicio</a> 
                  <a href="about" class="btn  bg-secondary send ml-2 px-3">Contactanos</a> </div>
          </div>
        </div>
      </div>
    </div>
  </main>