

    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 ">
        <div class="container">
          <a class="navbar-brand" href="/">
            <h4>Meeting Point</h4>
          </a>
          <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" arnpia-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list mobile-nav-toggle"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <div>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Eventos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">¿Como usar Meeting Point?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi evento</button>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </nav>
    </header>
    <section id="hero">
      <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Creamos<br>Entretenimiento para ti.</h1>
        <br>
        <a href="#about" class="btn bg-secondary rounded-pill">Ver todos los eventos</a>
      </div>
    </section>



    <main>
      <section id="events">
        <div class="container">
          <div class="section-event">
            <h2 class="text-center pb-5">Ultimos eventos publicados</h2>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Speakers Section -->
    </main>
    <footer class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="widget_title green">Meeting Point</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quia repellat aperiam at beatae
            reiciendis.</p>
        </div>
        <div class="col-md-4 widget">
          <h2 class="widget_title green">Enlaces directos</h2>
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Eventos</a></li>
            <li><a href="">Crear Evento</a></li>
            <li><a href="">Iniciar sesión</a></li>
            <li><a href="">Registro</a></li>
            <li><a href="">Acceso administrador</a></li>

          </ul>
        </div>
        <div class="col-md-4 ">
          <h2 class="widget_title green">Contactanos</h2>
          <div class="row2">
            <strong>Dirección: Viña del mar</strong>
          </div>
          <div class="row3">
            <strong>Email: contacto@meetingpoint.cl</strong>
          </div>
          <div class="row4">
            <strong>Telefono: +56912345678</strong>
          </div>
          <div class="social col-md-12">
            <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>

          </div>
        </div>
      </div>
    </div>
  </footer>

      <script src="/js/main.js"></script>



