

    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <h4>Meeting Point</h4>
          </a>
          <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list mobile-nav-toggle"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <div>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Eventos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">¿Como usar Meeting Point?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi evento</button>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </nav>
    </header>
    <section id="hero">
      <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Creamos<br>Entretenimiento para ti.</h1>
        <br>
        <a href="#about" class="btn bg-secondary rounded-pill">Ver todos los eventos</a>
      </div>
    </section>



    <main>
      <section id="events">
        <div class="container">
          <div class="section-event">
            <h2 class="text-center pb-5">Ultimos eventos publicados</h2>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="event" data-aos="fade-up" data-aos-delay="300">
                <img src="img/fms.png" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="event-details.html">FMS Chile</a></h3>
                  <p>Modalidad: Online</p>
                  <p>Dia: 10/10/2021</p>
                  <p>Hora: 10:00pm</p>

                  <div class="button-show">
                    <button class="btn btn-primary btn-sm mb-5">Ver más</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Speakers Section -->
    </main>

      <script src="/js/main.js"></script>



