<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark p-md-3 bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.svg" class="mt-2" width="100" alt="" />
      </a>
      <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/events">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/about">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="#">¿Como usar Meeting Point?</a>
              </li>
              {{#if isAuthenticated}}
                  <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/logout">Cerrar sesión</a>
              </li>        
              {{else}}
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/login">Iniciar Sesión</a>
              </li>
              {{/if}}
             <li class="nav-item">
                <a href="/my-event"><button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi
                    evento</button></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="bg-primary">
    <section>
        <div class="container">
            <div class="section-event">
                <h2>Crea un evento nuevo</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 login-sec bg-secondary rounded">
                    <form action="/my-event/add-data" method="POST">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Nombre del evento</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese el nombre de su evento" name="title">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Ubicacion</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la ubicacion" name="location">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Descripción</label>
                                    <textarea class="form-control bg-primary textarea-description" cols="30" rows="2"
                                        name="description"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Imagen</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="URL de la imagen" name="image">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label for="">Evento para mayores de</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la edad minima para participar" name="age" type="number">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label>Telefono de contacto</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary">+569</span>
                                        <input type="number" class="form-control" name="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Animador</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese el nombre del animador/a" name="animator">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Artista</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese el nombre del o los artistas" name="artist">
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Plataforma Streaming</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="URL de la retransmision" name="streaming">
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group mt-4">
                                    <label>Productora</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese a la productora organizadora" name="producer">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-4">
                                    <label>Aforo Maximo</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la ubicacion" name="capacity" type="number">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label>Fecha inicio</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la ubicacion" name="datestart" type="date">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label>Fecha termino</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la ubicacion" name="datefinish" type="date">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label>Hora de inicio</label>
                                    <input class="form-control form-control-success bg-primary"
                                        placeholder="Ingrese la ubicacion" name="hour" type="time">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <label for="">Tipo de evento</label>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="flexRadioDefault1"
                                                    value="Presencial" name="type">
                                                <label class="form-check-label" for="flexRadioDefault1"
                                                    value="Streaming" name="type">
                                                    Streaming
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="flexRadioDefault2"
                                                    checked value="Presencial" name="type">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Presencial
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn bg-primary mt-3  " type="submit">
                                Agregar
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>
<footer class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="widget_title green">Meeting Point</h2>
                <p>Somos una empresa dedicada a la creación y promocion de Eventos
                    presenciales y via Streaming, creamos eventos de todo tipo, para
                    grandes y chicos</p>
            </div>
            <div class="col-md-4 widget">
                <h2 class="widget_title green">Enlaces directos</h2>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/events">Eventos</a></li>
                    <li><a href="/my-event">Crear Evento</a></li>
                    <li><a href="/login">Iniciar sesión</a></li>
                    <li><a href="/register">Registro</a></li>
                    <li><a href="/admin">Acceso administrador</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="widget_title green">Contactanos</h2>
                <div class="row2">
                    <strong>Dirección: Viña del mar</strong>
                </div>
                <div class="row3">
                    <strong>Email: contacto@meetingpoint.cl</strong>
                </div>
                <div class="row4">
                    <strong>Telefono: +56912345678</strong>
                </div>
                <div class="social col-md-12">
                    <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
                    <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>