   <div class="mt-4 col-md-8 container">
            <div class="row">
                <div class="card col-md-3 p-3 m-2">
                    <div class="card-header">
                    <img src="{{data.image}}" alt="image" class="img-thumbail img-fluid">
                    <strong class="card-title">{{data.title}}</strong>
                    </div>
                    <div class="card-body">
                        {{data.description}}
                    </div>
                </div>
            </div>
        </div>